<launch>
<!-- This launch is for manage when to throw object, send service to reset robot, counter -->
    <include file="$(find rocat_sim)/launch/0_param_pub.launch" />
    <param name="use_sim_time" value="true"/>
    <node pkg="rocat_sim" type="throw_manager_node.py" name="throw_manager_node" output="screen" />
</launch>

