<launch>
  <!-- Define argument with default -->
  <arg name="traj_id_start" default="0" />

  <include file="$(find rocat_sim)/launch/0_param_pub.launch" />
  <param name="use_sim_time" value="true"/>

  <node pkg="rocat_sim" type="throw_manager_node.py" name="throw_manager_node" output="screen" >
    <param name="traj_id_start" value="$(arg traj_id_start)" />
  </node>
  
</launch>
