<launch>
<!-- This launch is for counting success, failure -->
    <!-- Sử dụng thời gian giả lập nếu chạy trong Gazebo -->
    <param name="use_sim_time" value="true"/>
    <!-- Chạy node impact_checker -->
    <node pkg="rocat_sim" type="impact_checker.py" name="impact_checker" output="screen">
        <param name="use_sim_time" value="true"/>
    </node>
</launch>
