<launch>
    <rosparam file="$(find rocat_sim)/configs/config.yaml" command="load"/>
    <arg name="no_cmd" default="false" />

    <!-- Controller -->
    <node pkg="unitree_navigation" type="pid_based_controller_node_sim.py" name="go1_control_node_sim" output="screen" >
        <param name="no_cmd" value="$(arg no_cmd)" />
    </node>
</launch>

