<launch>
    <include file="$(find rocat_sim)/launch/go1_gazebo_sim.launch" />
    
    <node pkg="unitree_navigation" type="go1_control_node" name="go1_control_node" output="screen">
        <!-- Remap các topic -->
        <remap from="/mocap_pose_topic/dog_pose" to="/new_dog_pose"/>
        <remap from="NAE/impact_point" to="/new_impact_point"/>
        <remap from="/check/cmd_vel" to="/robot_velocity"/>
    </node>

</launch>
